<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>原生API测试</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.6.3/rxjs.umd.min.js" integrity="sha512-JnZPWAckMDks0CCIeGznqEo7ifmYK7VowHq/NVFlSXGkwxv4OBCJFy7nouOtJZmVldHo7FQLIdeWTI55yyZc4Q==" crossorigin="anonymous"></script>
</head>

<body>
  <div id="plugin">
    <div id="toggle" title="点击关闭编辑">✍️</div>
  </div>
  <div id="viewwrap">
    <div id="view"></div>
  </div>
  <div id="panel">
    <div id="playground" contenteditable="true"></div>
    <div id="log"></div>
  </div>
</body>

</html>